{% extends 'layouts/default/page.html' %}

{% load i18n %}  {% load core_tags %} {% load blog_tags %} 
{% load thumbnail %}
{% load bootstrap4 %}

{% block content %}
     
    {{ post.title }}

    {% comment %} {% get_latest blog.Post 20 as latest_posts %}
    {{ latest_posts }} {% endcomment %}
    {% get_related_posts post 5 as related_posts %}`
    

    {% get_comments for post as comments_list %}
    {% get_comments_count for post as comments_count %}
 
    

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-success">{% trans 'Add Comment' %}</button>
    </form>


{% endblock %}
